body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clockdate-wrapper{
    background: #2dd9fe;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align:center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 23%;
    box-shadow: 0px -1px 66px 21px #2dd9fe4a;
}
#clock{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 1px 4px 6px #615959;
    color: #000;
}
#clock span{
    color: #000;
    text-shadow: 1px 4px 6px #615959;
    font-size: 50px;
    position: relative;
    top: -5px;
    left: 10px;
}
#date{
    letter-spacing: 3px;
    font-size: 14px;
    text-shadow: 1px 4px 6px #615959;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}